.header{
    background-color: #db3d2e;
    margin: 0px auto;
    width:480px;

}

.header h1{
    height:40px;
    line-height: 40px;
    font-size:16px;
    color:#fff;
    text-align: center;
    margin-bottom:0px;
}